/* ============================================================================================================== */
/* The CSS Style sheet (May not work in some older browsers and those that support CSS partially)
/* ============================================================================================================== */

body {
    background-color: rgb(192, 192, 192);
}
.title {
    font-family: Tahoma;
    color: white;
    text-shadow: 2px 2px rgb(60, 60, 60);
}
.h1 {
    font-family: Tahoma;
}
.h2 {
    font-family: Tahoma;
}
.h3 {
    font-family: Tahoma;
}
.h4 {
    font-family: Tahoma;
}
.h5 {
    font-family: Tahoma;
}
.h6 {
    font-family: Tahoma;
}
p {
    font-family: Tahoma;
    font-size: 13px;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px rgb(60, 60, 60);
}
/* A drop-shadow for the chessboard */
canvas {
    box-shadow: 5px 5px rgb(128, 128, 128);
}
/* old button styling */
.button1 {
    background-color: lightgray; /* Green */
    border-color: gray;
    border-radius: 4px;
    padding: 5px 20px;
    outline: none;
    font-family: Tahoma;
    font-weight: bold;
    font-size: 14px;
    text-shadow: 1px 1px rgb(175, 175, 175);
}
.button1:hover {
    background-color: rgb(224, 224, 224); /* Green */
    border-color: rgb(187, 187, 187);
}
.button1:active {
    background-color: rgb(177, 177, 177); /* Green */
    border-color: rgb(92, 92, 92);
}
/* Windows Classic Theme (Windows Standard) style buttons */
button {
    border-color: rgb(225, 225, 225);
    background-color: rgb(212, 208, 200);
    padding: 3px 14px;
    outline: none;
    font-family: Tahoma;
    font-size: 14px;
    text-shadow: 1px 1px rgb(175, 175, 175);
}
button:active {
    border-color: rgb(128, 128, 128);
    background-color: rgb(187, 183, 175);
}
/* Orange buttons */
.button2 {
    background-color: darkorange; /* Green */
    border-color: rgb(185, 102, 0);
    border-radius: 4px;
    padding: 4px 15px;
    color: white;
    outline: none;
    font-family: Comic Sans MS;
    font-weight: bold;
    font-size: 12px;
    text-shadow: 1.5px 1.5px rgb(185, 102, 0);
  }
  .button2:hover {
      background-color: orange; /* Green */
      border-color: darkorange;
      text-shadow: 1.5px 1.5px rgb(233, 128, 0);
  }
  .button2:active {
      background-color: rgb(185, 102, 0); /* Green */
      border-color: rgb(112, 50, 0);
      text-shadow: 1.5px 1.5px rgb(112, 50, 0);
  }
/* Used for the bottom information regarding the version of the site and the rest of the text */
.copyright {
    font-family: Tahoma;
    color: white;
    text-shadow: 1px 1px rgb(60, 60, 60);
    margin-bottom: -22px;
    font-size: 13px;
}
/* This scales the chess pieces to the proper size */
.imgsize {
    max-width: 1%;
    height: auto;
}
.spacer {
    margin-bottom: 45px;
}